[submodule "sberfrontend"]
	path = sberfrontend
	url = https://github.com/Kronverkskie-kisiki/sberfrontend.git
[submodule "sbervalidator"]
	path = sbervalidator
	url = https://github.com/Kronverkskie-kisiki/sbervalidator.git
[submodule "sber-rest-api"]
	path = sber-rest-api
	url = https://github.com/Kronverkskie-kisiki/sber-rest-api.git
[submodule "sber-vk-api"]
	path = sber-vk-api
	url = https://github.com/Kronverkskie-kisiki/sber-vk-api.git
[submodule "sber-gigachat-api"]
	path = sber-gigachat-api
	url = https://github.com/Kronverkskie-kisiki/sber-gigachat-api.git
